<div class="container mt-5">
  <div class="card text-center" style="color: primary; padding: 20px">
    <h1 style="color: #3f51b5; font-size: 250%; font-family: verdana">
      <b>Admin Dashboard</b>
    </h1>

    &nbsp;&nbsp;&nbsp;

    <button
      class="w-50"
      routerLink="/vistaGriglia"
      mat-flat-button
      color="primary"
    >
      Vista Spiaggia
    </button>

    <button
      *ngIf="false"
      class="w-50"
      routerLink="/addGriglia"
      mat-flat-button
      color="primary"
    >
      Add Griglia (!)
    </button>

    &nbsp;&nbsp;&nbsp;

    <button
      *ngIf="false"
      class="w-50"
      routerLink="/deleteGriglia"
      mat-flat-button
      color="primary"
    >
      Delete Griglia (!)
    </button>

    &nbsp;&nbsp;&nbsp;

    <button
      class="w-50"
      routerLink="/addOmbrellone"
      mat-flat-button
      color="primary"
    >
      Add Ombrellone
    </button>

    &nbsp;&nbsp;&nbsp;

    <button
      class="w-50"
      routerLink="/deleteOmbrellone"
      mat-flat-button
      color="primary"
    >
      Delete Ombrellone (!)
    </button>

    &nbsp;&nbsp;&nbsp;

    <button
      class="w-50"
      routerLink="/addTipologia"
      mat-flat-button
      color="primary"
    >
      Add Tipologia
    </button>

    &nbsp;&nbsp;&nbsp;

    <button
      class="w-50"
      routerLink="/deleteTipologia"
      mat-flat-button
      color="primary"
    >
      Delete Tipologia
    </button>

    &nbsp;&nbsp;&nbsp;

    <button
      *ngIf="false"
      class="w-50"
      routerLink="/"
      mat-flat-button
      color="primary"
    >
      Add Fascia (!)
    </button>

    &nbsp;&nbsp;&nbsp;

    <button
      *ngIf="false"
      class="w-50"
      routerLink="/"
      mat-flat-button
      color="primary"
    >
      Delete Fascia (!)
    </button>
  </div>
</div>
