<div class="container mt-5">
  <div class="card" style="padding: 20px">
    <form
      #addOmbrelloneForm="ngForm"
      (ngSubmit)="addOmbrellone()"
    >

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Id Posto</mat-label>
      <input
        matInput
        ngModel
        name="idPostoOmbrellone"
        id="idPostoOmbrellone"
        placeholder={{idPostoOmbrellone}}
        readonly="true"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Scegli tipologia</mat-label>
      <mat-select (selectionChange)="changeTipologia($event.value)">
        <mat-option *ngFor="let tip of tipologie" [value]="tip.tipologiaOmbrellone">
          {{tip.tipologiaOmbrellone.nome}}
        </mat-option>
      </mat-select>
    </mat-form-field>

      <button class="w-100" type="submit" mat-raised-button color="primary">
        Add Ombrellone
      </button>
    </form>
  </div>
</div>
