<mat-toolbar color="primary">
  <div>
    <span> <!-- <b>Progetto PAWM </b> -->
      <img class="img_flex" src="https://img2.gratispng.com/20180423/jhe/kisspng-computer-icons-beach-umbrella-5add9b22303be9.2417106815244726101976.jpg" alt="Logo"> 
    </span>
  </div>
  
  <button routerLink="/" mat-button color="white">Home</button>

  <button
    routerLink="/admin"
    *ngIf="userService.roleMatch(['Admin'])"
    mat-button
    color="white"
  >
    Dashboard
  </button>

  <button
    routerLink="/user"
    *ngIf="userService.roleMatch(['User'])"
    mat-button
    color="white"
  >
    Dashboard
  </button>

  &nbsp;&nbsp;&nbsp;

  <span class="space-buttons"></span>

  <button *ngIf="!isLoggedIn()" routerLink="/login" mat-button color="white">
    Login
  </button>

  <button *ngIf="isLoggedIn()" (click)="logout()" mat-button color="white">
    Logout
  </button>
</mat-toolbar>
